.giantText {
  font-size: 5.3rem;
  margin-top: 70px;
  background: linear-gradient(to top, indigo, black);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light {
  color: rgba(0, 0, 0, 0.7);
}

@media (prefers-color-scheme: dark) {
  body,
  a {
      color: white;
  }

  .light {
      color: rgba(255, 255, 255, 0.7);
  }

  .giantText {
    background: linear-gradient(to top, rgb(202, 128, 255), white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 40.625rem) {
  .collection > h2, .grid {
      justify-content: center;
      text-align: center;
  }

  .giantText {
      margin-top: 50px;
      font-size: 3.5rem;
  }
}