body {
  margin: 0rem;
}

.container {
  margin-top: 6.5rem;
  padding: 0.5rem;
}

.masonry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem; /* Adds space between grid items */
  justify-content: space-between;
}

.image-container:hover .delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  background-color: rgb(22, 22, 22);
  border-radius: 1.25rem;
}

.card-content {
  padding: 1rem;
}

.image-container:has(img) {
  flex-grow: 0;
}

img {
  border-radius: 0.25rem;
}

.banner {
  position: relative;
  width: 100%;
  padding: 0.5rem 0;
  border-top: none;
  border-radius: 1.25rem 1.25rem 0 0;
}

.delete-btn {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  font-size: 1rem;
  background: rgba(255, 0, 51, 0.651);
  color: white;
  width: 2rem !important;
  height: 2rem !important;
  padding: none !important;
  border: none;
  border-radius: 0.625rem;
  display: none;
}

.floating-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.floating-btn {
  color: white;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  animation: blur 0.2s ease-in-out forwards;
}

@keyframes blur {
  0% {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
  100% {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(211, 211, 211, 0.5);
  padding: 1.25rem;
  border-radius: 1.6125rem;
  animation: scale 0.2s ease-in-out forwards;
}

.close-btn {
  float: right;
  cursor: pointer;
}

select, input {
  margin-right: 2rem;
  background: none;
  border: none;
  color: black;
}

.hidden {
  display: none;
}

#bookmark-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 15rem;
}

#bookmark-name {
  font-size: x-large;
}

@media (prefers-color-scheme: dark) {
  .modal-content {
    background-color: rgba(40, 40, 40, 0.7);
    border: 2px solid rgba(45, 45, 45, 0.5);
  }

  .bookmark-card {
    background-color: rgb(40, 40, 40);
  }

  select, input {
    color: white;
  }
}