body {
  margin: 0rem;
}

.container {
  margin-top: 6rem;
  padding: 0.5rem;
}

.masonry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem; /* Adds space between grid items */
  justify-content: center;
}

.image-container:hover .delete-btn, .image-container:hover .edit-btn {
  display: flex;
}

.image-container {
  background-color: rgb(212, 212, 212);
  overflow: hidden;
}

.image-container:has(img) {
  background: transparent;
}

.url {
  text-align: center;
  font-weight: medium;
  font-size: x-large;
  word-break: break-all;
}

.card-content > img {
  width: 18.75rem;
  border-radius: 0.75rem;
  object-fit: cover;
}

.card-content {
  overflow-y: scroll;
  margin: 0.5rem;
  border-radius: 0.75rem;
}

.banner {
  position: relative;
  width: calc(100% - 1.2rem);
  margin-top: 1rem;
  border-top: none;
  overflow: scroll;
}

.accent {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 1rem;
  filter: blur(3rem);
  -webkit-filter: blur(3rem);
}

.delete-btn, .edit-btn {
  position: absolute;
  top: 0.9rem;
  color: white;
  width: 2rem;
  height: 2rem;
  padding: none;
  border-radius: 0.5rem;
  display: none;
}

.delete-btn {
  left: 0.9rem;
  background: rgba(255, 0, 51, 0.6);
}

.edit-btn {
  left: 3.2rem;
  background: rgba(69, 44, 255, 0.6);
}

.floating-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.floating-btn {
  color: black;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  animation: blur 0.2s ease-in-out forwards;
}

/* Undo  */
.undo {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background: #ff293b9d;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0.75rem 1rem;
  border-radius: 1.75rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  animation: fadeIn 0.5s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
    filter: blur(1rem);
  }
  to {
    opacity: 1;
    transform: none;
    filter: none;
  }
}

@keyframes blur {
  0% {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
  100% {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0.1rem solid rgba(211, 211, 211, 0.5);
  padding: 1.25rem;
  border-radius: 1.6125rem;
  animation: scale 0.2s ease-in-out forwards;
}

.close-btn {
  float: right;
  cursor: pointer;
}

select, input {
  margin-right: 2rem;
  background: none;
  border: none;
  color: black;
}

.hidden {
  display: none;
}

#bookmark-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 15rem;
}

#bookmark-name {
  font-size: x-large;
}

@media (prefers-color-scheme: dark) {
  .modal-content {
    background-color: rgba(40, 40, 40, 0.7);
    border: 0.1rem solid rgba(45, 45, 45, 0.5);
  }

  .bookmark-card {
    background-color: rgb(40, 40, 40);
  }

  .image-container {
    background-color: rgb(26, 26, 26);
  }

  .floating-btn {
    color: white;
  }

  select, input {
    color: white;
  }
}