:root {
  --safe-area-inset-top: env(safe-area-inset-top);
}

.author {
  color: rgba(0, 0, 0, 0.5);
}

.grid {
  justify-content: center;
}

#myModal {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#myModal > div {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 40% auto;
  padding: 20px;
  border: 2px solid rgba(211, 211, 211, 0.5);
  border-radius: 20px;
  width: fit-content;
  max-width: 31rem;
  text-align: left;
}

#installForMacBtn {
  cursor: pointer;
  transform: translate(-50%, -50%);
  position: fixed;
  bottom: 10px;
  left: 50%;
  display: block;
  transition: ease-in-out 0.3s;
}

.price {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(211, 211, 211, 0.5);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media (prefers-color-scheme: dark) {
  .author {
    color: rgba(255, 255, 255, 0.5);
  }

  #myModal > div {
    background-color: rgba(40, 40, 40, 0.7);
    border: 2px solid rgba(45, 45, 45, 0.5);
  }

  .price {
    background-color: rgba(40, 40, 40, 0.7);
    border: 2px solid rgba(45, 45, 45, 0.5);
  }
}

.pwa .headerBlur {
  /* margin-top: 50px; */
  top: var(--safe-area-inset-top);
  margin-bottom: 60px;
}

.pwa .bfLogo {
  display: none;
}
